body {
  display: grid;
  /* Tilføj navngivne linjer */
  grid-template-columns: [full-start] 1fr [content-start] minmax(0, 70ch) [content-end] 1fr [full-end];
}

.breakout {
  background: #a8fad5;
}

header,
footer,
main,
section {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: full;
  > :not(&) {
    grid-column: content;
  }
}
